@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif; 

  display: flex;
  gap: 40px;
  flex-direction: column;
  height: 5000vh;
  position: relative;

}

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  border-bottom: 2px solid rgb(0 112 184);
  position: sticky;
  top: 0;
  background: #fafafa;

  
}


.logo-container{
  height: 100px;
  padding-left: 25px;
  
}

.img-logo {
  max-height: 100%;
  
}

.navbar{
  display: flex;
  align-items: center;
  text-decoration: none;

}

.ul-navbar{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.nav-link{
  text-decoration: none;
  color: rgb(0 112 184);
  font-size: 20px;
}

.nav-link:hover{
  background-color: rgb(0, 57, 92);
  color: white;
  
}

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nuestros-productos{
  display: flex;
  justify-content: space-around;
}

.search-container {
  display: flex;
  align-items: center;
  padding-right: 25px ;
  
}

.search-box input {
  border-radius: 10px;
  padding: 5px;
  border-color: rgb(0 112 184);
  font-family: 'Lato', sans-serif; 
  position: relative; 
  
  
}

.contenedor-1{
  display: flex;
  flex-direction: column;
  gap: 40px;

}

img{
  height: 200px;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
}

p{
  font-weight: 700;
}

.contactanos{
  padding: 10px;
  display: flex;
  gap: 20px;


}

#email{
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 25px;
}

#submit{
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid black;
  width: 60px;
  height: 25px;
  background-color: lightblue;
  color: white;
}


#submit:hover {
  background-color: rgb(0 112 184);
  color: white;
}

@media screen and ( max-width: 750px ){
  *{
    font-size: small;
  }

  img {
    width: 50%;
    height: 50%;
  };
}

